<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>

    <h1>Simple Spotify Frontend</h1>
    <p>Hi there. With this app you can control and view the playback of
        your spotify music from the browser.
    </p>
    <p>The button below runs you through
        approving this app's access to your spotify data. This app is only
        available to spotify premium users.</p>
    <p>You need to have opened the spotify app on whatever device
        you'd like to listen through. This app starts by playing whatever you played last.
    </p>
    <form action="/auth/login" method="get">
        <button type="submit" id="startButton">Play Some Music!</button>
    </form>

</body>

</html>